<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>About Perth</title>

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/boxed.css') }}">	
</head>

<body>
	<!-- Wrapper Start -->
	<div id="wrapper">
	
	<!-- Header
	================================================== -->
	<header class="ie-dropdown-fix">
	  <!-- Header -->
		<div id="header">
				<div id="logo">
					<a href="#"><img src="images/logo.jpg" alt="ExPerth Logo" /></a>
					<div id = "tagline">It's time to Explore Perth!</div>
				</div>
			
			 <!-- Contact Details-->
				<div id="contact-details">
					<ul>
						<li><i class="mini-ico-envelope"></i><a href="#">21644327@student.uwa.edu.au</a></li>
						<li><i class="mini-ico-user"></i>+61 451 178 805</li>
					</ul>
				</div>		
		</div>	
	  <!-- Header / End -->
	  
	<!-- Navigation -->
			<div id="navigation">
				<ul id="nav">
					<li><a href="home.html">Home</a></li>
					<li><a href="About.html" class = "on">About Perth</a></li>
					<li><a class = "cursor">Attractions</a>
					  <ul>
					    <li><a href = "Attractions.html">Top 3 places</a></li>
					    <li><a href = "Attraction_fremantle.html"> Fremantle</a></li>
						<li><a href = "Attraction_rottnest.html">Rottnest Island</a></li>
						<li><a href = "Attraction_kingspark.html">Kings Park</a></li>
					  </ul>
					</li>
					<li><a href="Survey.html">Survey</a></li>
					<li><a class = "cursor">Sign in/up</a>
					  <ul>
					    <li><a href = "sign_in.html">Sign in</a></li>
						<li><a href = "sign_up.html">Sign up</a></li>					
					  </ul>
					</li>
				</ul>
			</div> 			
	<!-- Navigation / End -->
	</header>
    <!-- header End -->


	<!-- Content
	================================================== -->
<section class = "About_main">
	<p class = "Attraction_about_intro"><i class = "bigfont">　Western</i> Australia’s youthful capital city PERTH is home to around 1.7 million people and has a reputation for endless sunshine and an easy-going lifestyle. After work, it’s typical for people to go surfing, sailing, swimming or fire up a barbie somewhere on the shores of the Swan River, which forms a broad lagoon through the city, ideal for recreation and sport. This enviable social life partly explains Perthites’ contented detachment from the rest of the country.</p>
	<h1 class = "About_instruction">Know more by moving your mouse over those key words!</h1>
	<ul>
	  <li class = "background_img"><a class = "tooltip11 tooltip_font" id = "tooltip1">Isolated</a></li>
	  <li class = "background_img2"><a class = "tooltip12 tooltip_font" id = "tooltip2">Transition </a></li>
	  <li class = "background_img3"><a class = "tooltip13 tooltip_font" id = "tooltip3">Building Projects</a></li>
      <li class = "background_img4"><a class = "tooltip14 tooltip_font" id = "tooltip4">Sun Shine</a></li>
	  <li class = "background_img5"><a class = "tooltip15 tooltip_font" id = "tooltip5">Have Fun</a></li>
	  <li class = "background_img6"><a class = "tooltip16 tooltip_font" href = "http://www.experienceperth.com/" >More Information</a></li>
	</ul>
</section>
	
<!-- Footer
================================================== -->
   <footer class = "footer_main">
      <div class = "column1">
	   <ul>
	     <li><a class = "footer-headline" href = "Disclaimer.html">Disclaimer</a></li>
		 <li><a class = "footer-headline" href = "SiteMap.html">SiteMap</a></li>
		 <li><a class = "footer-headline" href = "Contact.html">Contact Us</a></li>
		 <li><a class = "footer-headline" href = "Validation.html">HTML5 && CSS validation</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column2">
	   <ul>
	     <li><a class = "footer-headline" href = "home.html">Home</a></li>
		 <li><a class = "footer-headline" href = "About.html">About Perth</a></li>
		 <li><a class = "footer-headline" href = "Survey.html">Survey</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column3">
	   <ul>
	     <li><a class = "footer-headline">Attractions</a>
		   <ul>
		     <li><a class = "footer-subline " href = "Attractions.html">Top 3 Places</a></li>
		     <li><a class = "footer-subline " href = "Attraction_fremantle.html">Fremantle</a></li>
			 <li><a class = "footer-subline " href = "Attraction_rottnest.html">Rottnest Island</a></li>
			 <li><a class = "footer-subline " href = "Attraction_kingspark.html">Kings Park</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "column4">
	   <ul>
	     <li><a class = "footer-headline" >Sign in/up</a>
		   <ul>
		    <li><a class = "footer-subline" href = "sign_in.html">Sign in</a></li>
		    <li><a class = "footer-subline" href = "sign_up.html">Sign up</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "copyright">
	  <p class = "footer-subline2">All contents copyright © ExPerth. All rights reserved.</p>
	  </div>
	  
	  <div class = "modify">
	  <p class = "footer-subline3">Last updated: Thursday, 16 April,2015</p>
	  </div>	  
   </footer>
 <!-- Footer / End -->

 </div>
<!-- Wrapper / End -->

<script>
/*
obj - element of ToolTip 
id - id of ToolTipbox
html - HTML of ToolTipbox
width - Width of ToolTipbox (optional)
height - Height of the ToolTipbox(optional)）*/

    var className = 'tooltip-box';
	
	//to fix IE explorer
    var isIE = navigator.userAgent.indexOf('MSIE') > -1;

    function showTooltip(obj, id, html, width, height) {
        if (document.getElementById(id) == null) { //if the element of tooltipbox has not been created, create one

            var tooltipBox;
            tooltipBox = document.createElement('div');
            tooltipBox.className = className;
            tooltipBox.id = id;
            tooltipBox.innerHTML = html;

            obj.appendChild(tooltipBox);

            tooltipBox.style.width = width ? width + 'px' : 'auto';
            tooltipBox.style.height = height ? height + 'px' : 'auto';
			


            if (!width && isIE) {
                tooltipBox.style.width = tooltipBox.offsetWidth;
            }

            tooltipBox.style.position = "absolute";
            tooltipBox.style.display = "block";
			tooltipBox.style.border = "1px solid #000";
			tooltipBox.style.background = "#FFF5EE";
			tooltipBox.style.color = "#333";
            tooltipBox.style.padding = "10px";	
          		
            
            var left = obj.offsetLeft;
            var top = obj.offsetTop + 10;
			
            if (left + tooltipBox.offsetWidth > document.body.clientWidth) {  //to fix the width of the explorer
                var demoLeft = document.getElementById("demo").offsetLeft;
                left = document.body.clientWidth - tooltipBox.offsetWidth - demoLeft;
                if (left < 0) left = 0;
            }

            tooltipBox.style.left = left + 'px';
            tooltipBox.style.top = top + 'px';
			

            obj.onmouseleave = function () {
                setTimeout(function () {
                    document.getElementById(id).style.display = "none";
                }, 100);
            };

        } else {
            document.getElementById(id).style.display = "block";
        }
    }

    var t1 = document.getElementById("tooltip1");
    var t2 = document.getElementById("tooltip2");
    var t3 = document.getElementById("tooltip3");
    var t4 = document.getElementById("tooltip4");
    var t5 = document.getElementById("tooltip5");

    t1.onmouseenter = function () {
        showTooltip(this, "t1", '<p class = "toolboxfont">Perth is Australia’s (and many say, the world’s) most isolated city, almost 4000km from Sydney by road, a four-hour flight from the east coast and in a different time zone (Western Standard Time) to the rest of the country.</p>', 300);
    };

   t2.onmouseenter = function () {
        showTooltip(this, "t2", '<p class = "toolboxfont">Perth is on the cusp of major change -- with significant developments and much intense discussion about how best to plan for the future -- as it struggles with the transition from what was a big country town into an international city.</p>', 130);
    };

     t3.onmouseenter = function () {
        showTooltip(this, "t3", '<p class = "toolboxfont">The state’s recent mining boom has sparked one of the largest building projects ever seen in Perth and several new developments were in progress at the time of writing. The Central Business District (CBD) is undergoing something of a renaissance as more international companies set up shop here.</p>', 150);
    };

    t4.onmouseenter = function () {
        showTooltip(this, "t4", '<p class = "toolboxfont">Perth has a wonderful Mediterranean climate that gives it more hours of sun than any other major city in Australia, from October right through to April.</p>', 300);
    };

    t5.onmouseenter = function () {
        showTooltip(this, "t5",'<p class = "toolboxfont">Wander through the restored historic warehouses, museums, and working docks of bustling Fremantle; stroll through the 400-hectare (1,000-acre) Kings Park in the middle of the city; visit art galleries and museums; eat at some of the country\'s best restaurants; enjoy the riverside parks and gardens; catch a few waves at one of the beaches; stock up at the Aboriginal art and souvenir stores; and pedal your bike around Rottnest Island, a small reef resort 19km (12 miles) offshore, to find a great snorkeling spot.</p>',600);
    };


</script>

</body>
</html>
