<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Attraction Fremantle</title>

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/boxed.css">
</head>

<body>
	<!-- Wrapper Start -->
	<div id="wrapper">
	
	<!-- Header
	================================================== -->
	<header class="ie-dropdown-fix">
	  <!-- Header -->
		<div id="header">
				<div id="logo">
					<a href="#"><img src="images/logo.jpg" alt="ExPerth Logo" /></a>
					<div id = "tagline">It's time to Explore Perth!</div>
				</div>
			
			 <!-- Contact Details-->
				<div id="contact-details">
					<ul>
						<li><i class="mini-ico-envelope"></i><a href="#">21644327@student.uwa.edu.au</a></li>
						<li><i class="mini-ico-user"></i>+61 451 178 805</li>
					</ul>
				</div>		
		</div>	
	  <!-- Header / End -->

	<!-- Navigation -->
			<div id="navigation">
				<ul id="nav">
					<li><a href="home.html" >Home</a></li>
					<li><a href="About.html">About Perth</a></li>
					<li><a class = "cursor on">Attractions</a>
					  <ul>
					    <li><a href = "Attractions.html" >Top 3 places</a></li>
					    <li><a href = "Attraction_fremantle.html" class = "on"> Fremantle</a></li>
						<li><a href = "Attraction_rottnest.html">Rottnest Island</a></li>
						<li><a href = "Attraction_kingspark.html">Kings Park</a></li>
					  </ul>
					</li>
					<li><a href="Survey.html">Survey</a></li>
					<li><a class = "cursor">Sign in/up</a>
					  <ul>
					    <li><a href = "sign_in.html">Sign in</a></li>
						<li><a href = "sign_up.html">Sign up</a></li>					
					  </ul>
					</li>
				</ul>
			</div> 			
	<!-- Navigation / End -->
	</header>
    <!-- header End -->


	<!-- Content
	================================================== -->
<section class = "Attraction_fremantle_main">
	<article class = "Attraction_fremantle_intro">
		<i class = "bigfont">　The City of Fremantle </i>was established in 1829 as a port for the Swan River Colony and was the major city in Western Australia for much of its early history.
Fremantle's unique character is captured by its landscape, its heritage architecture, music, arts and culture, festivals, retail stores and markets, cafés and restaurants, which all contribute to its village style atmosphere - making it a popular destination for local and international visitors.<i>　(Cited from http://www.fremantle.wa.gov.au)</i>
	</article>
		
	<article class = "Attraction_fremantle_prison">
		<img class = "picture" src = "images/attractions/fremantle_1.jpg" alt = "fremantle1"/>
		<p class = "Attraction_fremantle_intro"><i class = "bigfont">Fremantle Prison</i> is the largest and most intact convict built prison in Australia and is Western Australia’s only World Heritage Listed Building. It was continuously used as a place of incarceration for almost 140 years. The prison was decommissioned as a maximum-security gaol in 1991.
Without doubt, the highlight of a visit to the prison is the entertaining tours conducted by experienced tour guides who bring the rich folklore and stories of the prison to life.For a completely different perspective, experience the prison by night on an eerie tour by torchlight each Wednesday and Friday night. These popular tours offer a few surprises along the way to add to the atmosphere and are not for the faint-hearted!　(Cited from http://www.visitfremantle.com.au)
        </p>
	</article>
		<article class = "Attraction_fremantle_archetecture">
		<img class = "picture2" src = "images/attractions/fremantle_2.jpg" alt = "fremantle2"/>
		<p class = "Attraction_fremantle_intro"><i class = "bigfont">　Architecture</i> is also hightlight in fremantle with totally different style from other places in Perth!</p>
		</article>
</section>
	
<!-- Footer
================================================== -->
   <footer class = "footer_main">
      <div class = "column1">
	   <ul>
	     <li><a class = "footer-headline" href = "Disclaimer.html">Disclaimer</a></li>
		 <li><a class = "footer-headline" href = "SiteMap.html">SiteMap</a></li>
		 <li><a class = "footer-headline" href = "Contact.html">Contact Us</a></li>
		 <li><a class = "footer-headline" href = "Validation.html">HTML5 && CSS validation</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column2">
	   <ul>
	     <li><a class = "footer-headline" href = "home.html">Home</a></li>
		 <li><a class = "footer-headline" href = "About.html">About Perth</a></li>
		 <li><a class = "footer-headline" href = "Survey.html">Survey</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column3">
	   <ul>
	     <li><a class = "footer-headline">Attractions</a>
		   <ul>
		     <li><a class = "footer-subline " href = "Attractions.html">Top 3 Places</a></li>
		     <li><a class = "footer-subline " href = "Attraction_fremantle.html">Fremantle</a></li>
			 <li><a class = "footer-subline " href = "Attraction_rottnest.html">Rottnest Island</a></li>
			 <li><a class = "footer-subline " href = "Attraction_kingspark.html">Kings Park</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "column4">
	   <ul>
	     <li><a class = "footer-headline" >Sign in/up</a>
		   <ul>
		    <li><a class = "footer-subline" href = "sign_in.html">Sign in</a></li>
		    <li><a class = "footer-subline" href = "sign_up.html">Sign up</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "copyright">
	  <p class = "footer-subline2">All contents copyright © ExPerth. All rights reserved.</p>
	  </div>
	  
	  <div class = "modify">
	  <p class = "footer-subline3">Last updated: Thursday, 16 April,2015</p>
	  </div>	  
   </footer>
 <!-- Footer / End -->

 </div>
<!-- Wrapper / End -->


</body>
</html>
