<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Attraction Kings Park</title>

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/boxed.css">
</head>

<body>
	<!-- Wrapper Start -->
	<div id="wrapper">
	
	<!-- Header
	================================================== -->
	<header class="ie-dropdown-fix">
	  <!-- Header -->
		<div id="header">
				<div id="logo">
					<a href="#"><img src="images/logo.jpg" alt="ExPerth Logo" /></a>
					<div id = "tagline">It's time to Explore Perth!</div>
				</div>
			
			 <!-- Contact Details-->
				<div id="contact-details">
					<ul>
						<li><i class="mini-ico-envelope"></i><a href="#">21644327@student.uwa.edu.au</a></li>
						<li><i class="mini-ico-user"></i>+61 451 178 805</li>
					</ul>
				</div>		
		</div>	
	  <!-- Header / End -->

	<!-- Navigation -->
			<div id="navigation">
				<ul id="nav">
					<li><a href="home.html" >Home</a></li>
					<li><a href="About.html">About Perth</a></li>
					<li><a class = "cursor on">Attractions</a>
					  <ul>
					    <li><a href = "Attractions.html">Top 3 places</a></li>
					    <li><a href = "Attraction_fremantle.html"> Fremantle</a></li>
						<li><a href = "Attraction_rottnest.html">Rottnest Island</a></li>
						<li><a href = "Attraction_kingspark.html" class = "on">Kings Park</a></li>
					  </ul>
					</li>
					<li><a href="Survey.html">Survey</a></li>
					<li><a class = "cursor">Sign in/up</a>
					  <ul>
					    <li><a href = "sign_in.html">Sign in</a></li>
						<li><a href = "sign_up.html">Sign up</a></li>					
					  </ul>
					</li>
				</ul>
			</div> 			
	<!-- Navigation / End -->
	</header>
    <!-- header End -->


	<!-- Content
	================================================== -->
<section class = "Attraction_kingspark_main">
	    <img class = "picture3" src = "images/attractions/kings_park_1.jpg" alt = "kings park 1"/>
		<img class = "picture3" src = "images/attractions/kings_park_2.jpg" alt = "kings park 2"/>
		<img class = "picture3" src = "images/attractions/kings_park_3.jpg" alt = "kings park 3"/>
		<article class = "Attraction_kingspark">
		<i class = "bigfont">　Kings Park & Botanic Garden </i>is one of the world’s largest and most beautiful inner city parks. It is rich in Aboriginal and European history, contemporary culture and offers innovative design, displays and services. 
It is also home to the spectacular Western Australian Botanic Garden, which displays over 3,000 species of the State’s unique flora. Two thirds of the 400 hectare park is protected as bushland and provides a haven for native biological diversity.
Visitors can enjoy sweeping views of the Swan and Canning Rivers, the city skyline and the Darling Ranges to the east. Bushland walk trails, immaculate gardens and parklands and a variety of children’s discovery play areas can all be found in Kings Park.
(Cited from http://www.bgpa.wa.gov.au)
		</article>
		
</section>
	
<!-- Footer
================================================== -->
   <footer class = "footer_main">
      <div class = "column1">
	   <ul>
	     <li><a class = "footer-headline" href = "Disclaimer.html">Disclaimer</a></li>
		 <li><a class = "footer-headline" href = "SiteMap.html">SiteMap</a></li>
		 <li><a class = "footer-headline" href = "Contact.html">Contact Us</a></li>
		 <li><a class = "footer-headline" href = "Validation.html">HTML5 && CSS validation</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column2">
	   <ul>
	     <li><a class = "footer-headline" href = "home.html">Home</a></li>
		 <li><a class = "footer-headline" href = "About.html">About Perth</a></li>
		 <li><a class = "footer-headline" href = "Survey.html">Survey</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column3">
	   <ul>
	     <li><a class = "footer-headline">Attractions</a>
		   <ul>
		     <li><a class = "footer-subline " href = "Attractions.html">Top 3 Places</a></li>
		     <li><a class = "footer-subline " href = "Attraction_fremantle.html">Fremantle</a></li>
			 <li><a class = "footer-subline " href = "Attraction_rottnest.html">Rottnest Island</a></li>
			 <li><a class = "footer-subline " href = "Attraction_kingspark.html">Kings Park</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "column4">
	   <ul>
	     <li><a class = "footer-headline" >Sign in/up</a>
		   <ul>
		    <li><a class = "footer-subline" href = "sign_in.html">Sign in</a></li>
		    <li><a class = "footer-subline" href = "sign_up.html">Sign up</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "copyright">
	  <p class = "footer-subline2">All contents copyright © ExPerth. All rights reserved.</p>
	  </div>
	  
	  <div class = "modify">
	  <p class = "footer-subline3">Last updated: Thursday, 16 April,2015</p>
	  </div>	  
   </footer>
 <!-- Footer / End -->

 </div>
<!-- Wrapper / End -->

</body>
</html>
