<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Top 3 places</title>

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/boxed.css">
	<link rel="stylesheet" type="text/css" href="css/picturewall.css">
</head>

<body>
	<!-- Wrapper Start -->
	<div id="wrapper">
	
	<!-- Header
	================================================== -->
	<header class="ie-dropdown-fix">
	  <!-- Header -->
		<div id="header">
				<div id="logo">
					<a href="#"><img src="images/logo.jpg" alt="ExPerth Logo" /></a>
					<div id = "tagline">It's time to Explore Perth!</div>
				</div>
			
			 <!-- Contact Details-->
				<div id="contact-details">
					<ul>
						<li><i class="mini-ico-envelope"></i><a href="#">21644327@student.uwa.edu.au</a></li>
						<li><i class="mini-ico-user"></i>+61 451 178 805</li>
					</ul>
				</div>		
		</div>	
	  <!-- Header / End -->

	<!-- Navigation -->
			<div id="navigation">
				<ul id="nav">
					<li><a href="home.html" >Home</a></li>
					<li><a href="About.html">About Perth</a></li>
					<li><a class = "cursor on">Attractions</a>
					  <ul>
					    <li><a href = "Attractions.html" class = "on">Top 3 places</a></li>
					    <li><a href = "Attraction_fremantle.html"> Fremantle</a></li>
						<li><a href = "Attraction_rottnest.html">Rottnest Island</a></li>
						<li><a href = "Attraction_kingspark.html">Kings Park</a></li>
					  </ul>
					</li>
					<li><a href="Survey.html">Survey</a></li>
					<li><a class = "cursor">Sign in/up</a>
					  <ul>
					    <li><a href = "sign_in.html">Sign in</a></li>
						<li><a href = "sign_up.html">Sign up</a></li>					
					  </ul>
					</li>
				</ul>
			</div> 			
	<!-- Navigation / End -->
	</header>
    <!-- header End -->


	<!-- Content
	================================================== -->
	<section class = "picture_wall">   
		   <h1>Top Three Attractions in Perth</h1>
		   <h3>Try to click on the first picture of each line</h3>
           <a href = "Attraction_fremantle.html"><img class = "share pic1" src = "images/attractions/fremantle_1.jpg" title = "Fremantle" alt = "Fremantle"/></a>
	       <img class = "share pic2" src = "images/attractions/fremantle_2.jpg" title = "Fremantle" alt = "Fremantle"/>
		   <img class = "share pic3" src = "images/attractions/fremantle_3.jpg" title = "Fremantle" alt = "Fremantle"/>
		   
		   <a href = "Attraction_rottnest.html"><img class = "share pic4" src = "images/attractions/rottnest_1.jpg" title = "Rottnest Island" alt = "Rottnest Island"/></a>
	       <img class = "share pic5" src = "images/attractions/rottnest_2.jpg" title = "Rottnest Island" alt = "Rottnest Island"/>
		   <img class = "share pic6" src = "images/attractions/rottnest_3.jpg" title = "Rottnest Island" alt = "Rottnest Island"/>
		   
		   <a href = "Attraction_kingspark.html"><img class = "share pic7" src = "images/attractions/kings_park_1.jpg" title = "Kings park and botanical garden" alt = "Kings park and botanical garden"/></a>
	       <img class = "share pic8" src = "images/attractions/kings_park_2.jpg" title = "Kings park and botanical garden" alt = "Kings park and botanical garden"/>
		   <img class = "share pic9" src = "images/attractions/kings_park_3.jpg" title = "Kings park and botanical garden" alt = "Kings park and botanical garden"/>
	</section>
	
<!-- Footer
================================================== -->
   <footer class = "footer_main">
      <div class = "column1">
	   <ul>
	     <li><a class = "footer-headline" href = "Disclaimer.html">Disclaimer</a></li>
		 <li><a class = "footer-headline" href = "SiteMap.html">SiteMap</a></li>
		 <li><a class = "footer-headline" href = "Contact.html">Contact Us</a></li>
		 <li><a class = "footer-headline" href = "Validation.html">HTML5 && CSS validation</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column2">
	   <ul>
	     <li><a class = "footer-headline" href = "home.html">Home</a></li>
		 <li><a class = "footer-headline" href = "About.html">About Perth</a></li>
		 <li><a class = "footer-headline" href = "Survey.html">Survey</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column3">
	   <ul>
	     <li><a class = "footer-headline">Attractions</a>
		   <ul>
		     <li><a class = "footer-subline " href = "Attractions.html">Top 3 Places</a></li>
		     <li><a class = "footer-subline " href = "Attraction_fremantle.html">Fremantle</a></li>
			 <li><a class = "footer-subline " href = "Attraction_rottnest.html">Rottnest Island</a></li>
			 <li><a class = "footer-subline " href = "Attraction_kingspark.html">Kings Park</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "column4">
	   <ul>
	     <li><a class = "footer-headline" >Sign in/up</a>
		   <ul>
		    <li><a class = "footer-subline" href = "sign_in.html">Sign in</a></li>
		    <li><a class = "footer-subline" href = "sign_up.html">Sign up</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "copyright">
	  <p class = "footer-subline2">All contents copyright © ExPerth. All rights reserved.</p>
	  </div>
	  
	  <div class = "modify">
	  <p class = "footer-subline3">Last updated: Thursday, 16 April,2015</p>
	  </div>	  
   </footer>
 <!-- Footer / End -->

 </div>
<!-- Wrapper / End -->

</body>
</html>
