<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8" >
	<title>Disclaimer</title>

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/boxed.css">
</head>

<body>
	<!-- Wrapper Start -->
	<div id="wrapper">
	
	<!-- Header
	================================================== -->
	<header class="ie-dropdown-fix">
	  <!-- Header -->
		<div id="header">
				<div id="logo">
					<a href="#"><img src="images/logo.jpg" alt="ExPerth Logo" /></a>
					<div id = "tagline">It's time to Explore Perth!</div>
				</div>
			
			 <!-- Contact Details-->
				<div id="contact-details">
					<ul>
						<li><i class="mini-ico-envelope"></i><a href="#">21644327@student.uwa.edu.au</a></li>
						<li><i class="mini-ico-user"></i>+61 451 178 805</li>
					</ul>
				</div>		
		</div>	
	  <!-- Header / End -->

	<!-- Navigation -->
			<div id="navigation">
				<ul id="nav">
					<li><a href="home.html">Home</a></li>
					<li><a href="About.html">About Perth</a></li>
					<li><a class = "cursor">Attractions</a>
					  <ul>
					    <li><a href = "Attractions.html">Top 3 places</a></li>
					    <li><a href = "Attraction_fremantle.html"> Fremantle</a></li>
						<li><a href = "Attraction_rottnest.html">Rottnest Island</a></li>
						<li><a href = "Attraction_kingspark.html">Kings Park</a></li>
					  </ul>
					</li>
					<li><a href="Survey.html">Survey</a></li>
					<li><a class = "cursor">Sign in/up</a>
					  <ul>
					    <li><a href = "sign_in.html">Sign in</a></li>
						<li><a href = "sign_up.html">Sign up</a></li>					
					  </ul>
					</li>
				</ul>
			</div> 			
	<!-- Navigation / End -->
  </header>
  <!-- header End -->


	<!-- Content
	================================================== -->
<section class = "Disclaimer_main">
  <h1 class = "sitemaptitle">Disclaimer</h1>
  <div class = "column14">
     <p class = "Disclaimer_para1">The material on this website provides general information only and is not intended as advice 
	 and must not be relied upon as such. You should make your own inquiries and seek independent 
	 and/or alternative advice prior to making any decisions.</p>
	 <p class = "Disclaimer_para1">All the pictures, excluding the “ExPerth” logo picture, used in this website are downloaded online. 
	 We give thanks to those online picture sources. The websites which we downloaded pictures from are listed as follows:<p>
	 <ul>
	  <li><a class = "Disclaimer_para2" href = "https://www.google.com.au/search?q=perth+fremantle&biw=1366&bih=599&source=lnms&tbm=isch&sa=X&ei=H1gZVdnDMMPY8gW9iYD4AQ&ved=0CAcQ_AUoAg&dpr=1">1. https://www.google.com.au/search?q=perth+fremantle</a></li>
	  <li><a class = "Disclaimer_para2" href = "https://www.google.com.au/search?q=perth+rottnest&biw=1366&bih=599&source=lnms&tbm=isch&sa=X&ei=dGMbVeL3LoOJ8QXUqYGABQ&ved=0CAYQ_AUoAQ">2. https://www.google.com.au/search?q=perth+rottnest</a></li>
	  <li><a class = "Disclaimer_para2" href = "https://www.google.com.au/search?q=perth+rottnest&biw=1366&bih=599&source=lnms&tbm=isch&sa=X&ei=dGMbVeL3LoOJ8QXUqYGABQ&ved=0CAYQ_AUoAQ#tbm=isch&q=perth+kings+park">3. https://www.google.com.au/search?q=perth+rottnest</a></li>
	  <li><a class = "Disclaimer_para2" href = "http://www.tooopen.com/aicdr/108_468_1_7.aspx">4. http://www.tooopen.com/aicdr/108_468_1_7.aspx</a></li>
	  <li><a class = "Disclaimer_para2" href = "http://www.58pic.com/shiliangtu/14628724.html">5. http://www.58pic.com/shiliangtu/14628724.html</a></li>
	  <li><a class = "Disclaimer_para2" href = "http://pic.sogou.com/pics?query=%C0%B6%C9%AB%B1%B3%BE%B0&p=40230500&st=255&mode=255">6. http://pic.sogou.com/pics?query=%C0%B6%C9%AB%B1%B3%BE%B0&p=40230500&st=255&mode=255</a></li>
	 </ul>
  </div> 
</section>
	
<!-- Footer
================================================== -->
   <footer class = "footer_main">
      <div class = "column1">
	   <ul>
	     <li><a class = "footer-headline" href = "Disclaimer.html">Disclaimer</a></li>
		 <li><a class = "footer-headline" href = "SiteMap.html">SiteMap</a></li>
		 <li><a class = "footer-headline" href = "Contact.html">Contact Us</a></li>
		 <li><a class = "footer-headline" href = "Validation.html">HTML5 && CSS validation</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column2">
	   <ul>
	     <li><a class = "footer-headline" href = "home.html">Home</a></li>
		 <li><a class = "footer-headline" href = "About.html">About Perth</a></li>
		 <li><a class = "footer-headline" href = "Survey.html">Survey</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column3">
	   <ul>
	     <li><a class = "footer-headline">Attractions</a>
		   <ul>
		     <li><a class = "footer-subline " href = "Attractions.html">Top 3 Places</a></li>
		     <li><a class = "footer-subline " href = "Attraction_fremantle.html">Fremantle</a></li>
			 <li><a class = "footer-subline " href = "Attraction_rottnest.html">Rottnest Island</a></li>
			 <li><a class = "footer-subline " href = "Attraction_kingspark.html">Kings Park</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "column4">
	   <ul>
	     <li><a class = "footer-headline" >Sign in/up</a>
		   <ul>
		    <li><a class = "footer-subline" href = "sign_in.html">Sign in</a></li>
		    <li><a class = "footer-subline" href = "sign_up.html">Sign up</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "copyright">
	  <p class = "footer-subline2">All contents copyright © ExPerth. All rights reserved.</p>
	  </div>
	  
	  <div class = "modify">
	  <p class = "footer-subline3">Last updated: Thursday, 16 April,2015</p>
	  </div>	  
   </footer>
 <!-- Footer / End -->

 </div>
<!-- Wrapper / End -->

</body>
</html>
