<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Validation</title>

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/boxed.css">	
</head>

<body>
	<!-- Wrapper Start -->
	<div id="wrapper">
	
	<!-- Header
	================================================== -->
	<header class="ie-dropdown-fix">
	  <!-- Header -->
		<div id="header">
				<div id="logo">
					<a href="#"><img src="images/logo.jpg" alt="ExPerth Logo" /></a>
					<div id = "tagline">It's time to Explore Perth!</div>
				</div>
			
			 <!-- Contact Details-->
				<div id="contact-details">
					<ul>
						<li><i class="mini-ico-envelope"></i><a href="#">21644327@student.uwa.edu.au</a></li>
						<li><i class="mini-ico-user"></i>+61 451 178 805</li>
					</ul>
				</div>		
		</div>	
	  <!-- Header / End -->
	  
	<!-- Navigation -->
			<div id="navigation">
				<ul id="nav">
					<li><a href="home.html">Home</a></li>
					<li><a href="About.html">About Perth</a></li>
					<li><a class = "cursor">Attractions</a>
					  <ul>
					    <li><a href = "Attractions.html">Top 3 places</a></li>
					    <li><a href = "Attraction_fremantle.html"> Fremantle</a></li>
						<li><a href = "Attraction_rottnest.html">Rottnest Island</a></li>
						<li><a href = "Attraction_kingspark.html">Kings Park</a></li>
					  </ul>
					</li>
					<li><a href="Survey.html">Survey</a></li>
					<li><a class = "cursor">Sign in/up</a>
					  <ul>
					    <li><a href = "sign_in.html">Sign in</a></li>
						<li><a href = "sign_up.html">Sign up</a></li>					
					  </ul>
					</li>
				</ul>
			</div> 			
	<!-- Navigation / End -->
	</header>
    <!-- header End -->
	
	<!-- Content
	================================================== -->
<section class = "validate">
	<h1 class = "center">Validation Results</h1>
	<h2 class = "center">HTML5 FILES</h2>
	<p>
	<ul class = "validate_list">
	  <li>About.html:<p><a href = "http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FAbout.html&charset=%28detect+automatically%29&doctype=Inline&group=0">http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FAbout.html&charset=%28detect+automatically%29&doctype=Inline&group=0</a></p></li>
	  <li>Attraction_fremantle.html:<p><a href = "http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FAttraction_fremantle.html&charset=%28detect+automatically%29&doctype=Inline&group=0">http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FAttraction_fremantle.html&charset=%28detect+automatically%29&doctype=Inline&group=0</a></li>
	  <li>Attraction_kingspark.html:<p><a href = "http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FAttraction_kingspark.html&charset=%28detect+automatically%29&doctype=Inline&group=0">http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FAttraction_kingspark.html&charset=%28detect+automatically%29&doctype=Inline&group=0</a></p></li>
	  <li>Attraction_rottnest.html<p><a href = "http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FAttraction_rottnest.html&charset=%28detect+automatically%29&doctype=Inline&group=0">http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FAttraction_rottnest.html&charset=%28detect+automatically%29&doctype=Inline&group=0</a></p></li>
	  <li>Attractions.html<p><a href = "http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FAttractions.html&charset=%28detect+automatically%29&doctype=Inline&group=0">http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FAttractions.html&charset=%28detect+automatically%29&doctype=Inline&group=0</a></p></li>
	  <li>Contact.html<p><a href = "http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FContact.html&charset=%28detect+automatically%29&doctype=Inline&group=0">http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FContact.html&charset=%28detect+automatically%29&doctype=Inline&group=0</a></p></li>
	  <li>sign_in.html<p><a href = "http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2Fsign_in.html&charset=%28detect+automatically%29&doctype=Inline&group=0">http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2Fsign_in.html&charset=%28detect+automatically%29&doctype=Inline&group=0</a></p></li>
	  <li>sign_up.html<p><a href = "http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2Fsign_up.html&charset=%28detect+automatically%29&doctype=Inline&group=0">http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2Fsign_up.html&charset=%28detect+automatically%29&doctype=Inline&group=0</a></p></li>
	  <li>SiteMap.html<p><a href = "http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FSiteMap.html&charset=%28detect+automatically%29&doctype=Inline&group=0">http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FSiteMap.html&charset=%28detect+automatically%29&doctype=Inline&group=0</a></p></li>
	  <li>Survey.html<p><a href = "http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FSurvey.html&charset=%28detect+automatically%29&doctype=Inline&group=0">http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2FSurvey.html&charset=%28detect+automatically%29&doctype=Inline&group=0</a></p></li>
	</ul>
	</p>
	<p>
	<h2 class = "center">CSS3 FILES</h2>
	</p>
	<p>
	<ul class = "validate_list">
	  <li>base.css<p><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2Fcss%2Fbase.css">
                           <img style="border:0;width:88px;height:31px"
                                src="http://jigsaw.w3.org/css-validator/images/vcss"
                             	alt="Valid CSS!" />
              		  </a></p></li>
	  <li>boxed.css<p><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2Fcss%2Fboxed.css">
        			<img style="border:0;width:88px;height:31px"
            			src="http://jigsaw.w3.org/css-validator/images/vcss"
            			alt="Valid CSS!" />
    			   </a></p></li>
	  <li>style.css<p><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2Fcss%2Fstyle.css">
        			<img style="border:0;width:88px;height:31px"
            			src="http://jigsaw.w3.org/css-validator/images/vcss"
            			alt="Valid CSS!" />
    			</a></p></li>
	  <li>picturewall.css<p><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2Fcss%2Fpicturewall.css">
       				 <img style="border:0;width:88px;height:31px"
            			src="http://jigsaw.w3.org/css-validator/images/vcss"
            			alt="Valid CSS!" />
    			      </a></p></li>
	  <li>home_pictureslide.css<p><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~21644327%2Fcss%2Fhome_pictureslide.cssr">
        			<img style="border:0;width:88px;height:31px"
            			src="http://jigsaw.w3.org/css-validator/images/vcss"
            			alt="Valid CSS!" />
    			</a></p></li>
	</ul>
	</p>
</section>

<!-- Footer
================================================== -->
   <footer class = "footer_main">
      <div class = "column1">
	   <ul>
	     <li><a class = "footer-headline" href = "Disclaimer.html">Disclaimer</a></li>
		 <li><a class = "footer-headline" href = "SiteMap.html">SiteMap</a></li>
		 <li><a class = "footer-headline" href = "Contact.html">Contact Us</a></li>
		 <li><a class = "footer-headline" href = "Validation.html">HTML5 && CSS validation</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column2">
	   <ul>
	     <li><a class = "footer-headline" href = "home.html">Home</a></li>
		 <li><a class = "footer-headline" href = "About.html">About Perth</a></li>
		 <li><a class = "footer-headline" href = "Survey.html">Survey</a></li>
	   </ul>
	  </div>
	  
	  <div class = "column3">
	   <ul>
	     <li><a class = "footer-headline">Attractions</a>
		   <ul>
		     <li><a class = "footer-subline " href = "Attractions.html">Top 3 Places</a></li>
		     <li><a class = "footer-subline " href = "Attraction_fremantle.html">Fremantle</a></li>
			 <li><a class = "footer-subline " href = "Attraction_rottnest.html">Rottnest Island</a></li>
			 <li><a class = "footer-subline " href = "Attraction_kingspark.html">Kings Park</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "column4">
	   <ul>
	     <li><a class = "footer-headline" >Sign in/up</a>
		   <ul>
		    <li><a class = "footer-subline" href = "sign_in.html">Sign in</a></li>
		    <li><a class = "footer-subline" href = "sign_up.html">Sign up</a></li>
		   </ul>
		 </li>
	   </ul>
	  </div>
	  
	  <div class = "copyright">
	  <p class = "footer-subline2">All contents copyright © ExPerth. All rights reserved.</p>
	  </div>
	  
	  <div class = "modify">
	  <p class = "footer-subline3">Last updated: Thursday, 16 April,2015</p>
	  </div>	  
   </footer>
 <!-- Footer / End -->

 </div>
<!-- Wrapper / End -->
</body>
</html>
